:root {
  --blue: #242d38;
  --yellow: #efd592;
}

.header {
  max-width: 100%;
  max-height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--blue);
  color: var(--yellow);

  font-size: 1.5rem;
};

.card-container {
  background-color: var(--yellow);
}

.cards {
  background-color: var(--blue);
}

.card {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 2.5rem;
  max-width: 300px;
  width: 18.75rem;
  max-height: 550px;
  height: 34.375;
  color: var(--blue);
  font-size: 1.125rem;
  font-family: 'Poppins', sans-serif;
}

.title {
  color: var(--blue);
  font-size: 2.25rem;
};

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  width: 50px;
}

.button {
  background-color: var(--blue);
  border: 2px solid var(--yellow);
  width: 50px;
}
